.markdown {
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 20px;
  overflow-x: auto;
}

.markdown p,
.markdown li {
  white-space: pre-wrap; /* 保留空格 */
}

.markdown blockquote {
  border-left: 8px solid #d0e5f2;
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #f1f1f1;
}

.markdown code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
}
.markdown pre>code {
  display: block;
  padding: 10px;
}

.markdown table {
  border-collapse: collapse;
}
.markdown td,
.markdown th {
  border: 1px solid #ccc;
  min-width: 50px;
  height: 20px;
}
.markdown th {
  background-color: #f1f1f1;
}

.markdown ul,
.markdown ol {
  padding-left: 20px;
}

.markdown input[type="checkbox"] {
  margin-right: 5px;
}